<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" style="display:inline">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <a href="/admin" class="btn btn-primary"><i class="fa fa-reply"></i>return</a>
    <div class="row" style="display: flex; justify-content: center;align-items: center;">
        <div th:switch="${orders.size()}" class="col-md-6">
            <h2 th:case="0">No orders yet!</h2>

            <div th:case="*">
                <h2 class="my-5">Users</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th style="text-align: center;">order total sum </th>
                        <th style="text-align: center;">order date time</th>
                        <th style="text-align: center;">order by</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td ><div class="row" style="justify-content: center;"><p th:text="${order.orderSum}"><p>$</p></p></div></td>
                        <td th:text="${order.orderDate}" style="text-align: center;"></td>
                        <td th:text="${order.orderUserName}" style="text-align: center;"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="card cardForBook">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-text">total all orders: &nbsp </h5><h5 th:text="${totalOrdersSum}"></h5><h5>$</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>