<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>take a look get a book.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container" style="text-align:center;">
    <div style="text-align:center; flex-direction: row ; max-width: 60%">
        <h1>your order &nbsp</h1><h1 th:text="${totalProducts}"></h1>
        <h1>products and it cost you only &nbsp</h1><h1 th:text="${totalPrice}"></h1>
    </div>
    <a href="/destroySession" class="btn btn-primary"><i class="fa fa-reply"></i> back to shop </a>

</div>
<style>
    body  {
        background-image: url("https://static.vecteezy.com/system/resources/previews/002/375/040/original/modern-white-background-free-vector.jpg");
    }
</style>
</body>
</html>