<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>take a look get a book.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" style="display: flex; justify-content: center;align-items: center;">

        <div th:switch="${sessionCart.size()}">
            <h2 th:case="0">the cart is empty</h2>

            <div th:case="*">
                <h2 style="text-align: center";>take a look and get a book</h2>

                <div class="card" style = "margin:5px; width:100%">
                    <div class="card-body">
                        <div>
                            <h3> check out </h3>
                        </div>

                        <h2 class="my-5">Users</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>count</th>
                                <th>total price</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="prodInCart : ${sessionCart}">
                                <td><img class="card-img-top" th:src="${prodInCart.image}" style="transition: all 0.3s ease-out;width: 50%;height: 15vw;object-fit: cover;">
                                </td>
                                <td th:text="${prodInCart.name}"></td>
                                <td th:text="${prodInCart.price}"></td>
                                <td class="row" >
                                    <form action="#" th:action="@{/deleteProduct}" th:object="${prodInCart}" method="post"><input type="hidden" name="id" th:value="${prodInCart.id}">
                                        <input class="btn  btn-outline-secondary"  style="height:30px; margin:3px" type="submit" value="-" /></form>
                                    <p  style="algin-text-align:center" th:text="${prodInCart.count}"></p>
                                    <form action="#" th:action="@{/deleteProduct}" th:object="${prodInCart}" method="post"><input type="hidden" name="id" th:value="${prodInCart.id}">
                                        <input class="btn  btn-outline-secondary" style="height:30px; margin:3px" type="submit" value="+" /></form>
                                </td>
                                <td th:text="${prodInCart.price - prodInCart.price * prodInCart.discount/100}"></td>
                                <td th:text="${prodInCart.count * (prodInCart.price - prodInCart.price * prodInCart.discount/100)}"></td>
                                <td>
                                    <form action="#" th:action="@{/deleteProduct}" th:object="${prodInCart}" method="post"><input type="hidden" name="id" th:value="${prodInCart.id}">
                                        <input class="btn btn-primary" type="submit" value="delete" /></form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>